<div class="container">
  <div class="heading">
    <h1>contact us</h1>
    <span class="border"></span>
  </div>
  <div class="row box">
      <div class="col-md-3 content_box contact_data">
        <div class="title">
            <h2>Pratispardha</h2>
        </div>
        <div class="links">
            <ul class="footer-links">
                <li class="footer-list"><i class="fas fa-location-arrow    "></i> Forth Flor BCM Heights,indore</li>
                <li class="footer-list"><i class="fa fa-mobile" aria-hidden="true"></i> +91 8319238671</li>
                <li class="footer-list"><i class="fas fa-mail-bulk    "></i>pratispardha.22@gmail.com</li>
            </ul>
        </div>
    </div>
 
    <div class="col-md-9 right">
      <div class="input-area">
      <div class="name-email">
        <div class="form-group">
          <i class="fa-solid fa-user"></i>
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group right-content">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <i class="fa-solid fa-mobile"></i>
        <input type="text" class="form-control" placeholder="Mobile">
      </div>
      <div class="form-group textbox">
         <textarea class="form-control" placeholder="Write your message here"></textarea>
      </div>
      <div></div>
    </div>
    </div>
  </div>
</div>
 


