<div class="container">
    <div class="row player-profile">
        <div class="col-md-4 left">
            <div class="left-image">
                <div class="player-image">
                    <div class="card-image">
                        <img src="{{player.image}}" alt="Player Image">
                    </div>
                </div>
                <div class="type">
                    <small>{{player.playerType}}</small>
                </div>

                <div class="dropdown">
                    <select  #mySelect name="tournament_name" id="tournament_name" class="form-select" aria-label="Default select example">
                        <option value="1" selected disabled>Select tournament</option>
                        <option value="{{events._id}}" *ngFor="let events of tournaments">{{events.name}}</option>
                        
                    </select>
                </div>

                <div (click)="sendRequest()"class="add-btn">
                    <a>Add Player</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 right">
            <div class="title">
                <div class="player-name">               
                    <h2>{{player.name}}</h2>
                    <span>{{player.playerType}}</span>
                </div>
            </div>
            <div class="border"></div>
            <div class="player-info">
                <div class="name text">
                    <span>Name</span>
                    <span>{{player.name}}</span>
                    <span class="border-bottom"></span>
                </div>
                <div class="age text">
                    <span>Age</span>
                    <span>{{player.age}} years</span>
                    <span class="border-bottom"></span>
            
                </div>
                <div class="mobile text">
                    <span>Mobile No</span>
                    <span>{{player.mobile}}</span>
                    <span class="border-bottom"></span>
            
                </div>
                <div class="email text">
                    <span>Email</span>
                    <span>{{player.email}}</span>
                    <span class="border-bottom"></span>
            
                </div>
                <div class="address text">
                    <span>Address</span>
                    <span>{{player.address}}</span>
                    <span class="border-bottom"></span>
            
                </div>
                <div class="playertype text">
                    <span>PlayerType</span>
                    <span>{{player.playerType}}</span>
                    <span class="border-bottom"></span>
            
                </div>
                <div class="description text">
                    <span>Description</span>
                    <span>{{player.description}}</span>
                    <span class="border-bottom"></span>
                </div>
            </div>
        </div>
    </div>
</div>