<div class="container">
    <div class="row player-profile">
        <div class="col-md-4 left">
            <div class="left-image">
                <div class="player-image">
                    <div class="card-image">
                        <img src="../../../assets/images/player_1.png" alt="Player Image">
                    </div>
                </div>
                <div class="type">
                    <small>Bowller</small>
                </div>
            </div>
        </div>
        <div class="col-md-8 right">
            <div class="title">
                <div class="player-name">               
                    <h2>ram sharma</h2>
                    <span>Bowler</span>
                </div>
                <div class="add-btn">
                    <a href="#">Add Player</a>
                </div>
            </div>
            <div class="border"></div>
            <div class="player-info">
                <div class="name text">
                    <span>Name</span>
                    <span>ram sharma</span>
                </div>
                <div class="age text">
                    <span>Age</span>
                    <span>30 years</span>
                </div>
                <div class="mobile text">
                    <span>Mobile No</span>
                    <span>9976943476</span>
                </div>
                <div class="email text">
                    <span>Email</span>
                    <span>ramsharma@gmail.com</span>
                </div>
                <div class="address text">
                    <span>Address</span>
                    <span>raj mohalla ,indore</span>
                </div>
                <div class="playertype text">
                    <span>PlayerType</span>
                    <span>bowler</span>
                </div>
                <div class="description text">
                    <span>Description</span>
                    <span>left-arm-spinner Bowler type-tennis,leather,height:5.0ft </span>
                </div>
            </div>
        </div>
    </div>
</div>