<div class="container">
    <div class="row player-profile">
        <div class="col-md-4 left">
            <div class="left-image">
                <div class="player-image">
                    <div class="card-image">
                        <img src="../../../assets/images/player_1.png" alt="Player Image">
                    </div>
                </div>
                <div class="type">
                    <small>{{player.playerType}}</small>
                </div>
            </div>
        </div>
        <div class="col-md-8 right">
            <div class="title">
                <div class="player-name">               
                    <h2>{{player.name}}</h2>
                    <span>{{player.playerType}}</span>
                </div>
                <div class="add-btn">
                    <a href="#">Add Player</a>
                </div>
            </div>
            <div class="border"></div>
            <div class="player-info">
                <div class="name text">
                    <span>Name</span>
                    <span>{{player.name}}</span>
                </div>
                <div class="age text">
                    <span>Age</span>
                    <span>{{player.age}} years</span>
                </div>
                <div class="mobile text">
                    <span>Mobile No</span>
                    <span>{{player.mobile}}</span>
                </div>
                <div class="email text">
                    <span>Email</span>
                    <span>{{player.email}}</span>
                </div>
                <div class="address text">
                    <span>Address</span>
                    <span>{{player.address}}</span>
                </div>
                <div class="playertype text">
                    <span>PlayerType</span>
                    <span>{{player.playerType}}</span>
                </div>
                <div class="description text">
                    <span>Description</span>
                    <span>{{player.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>