.player-profile{
    padding:50px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0,0.5);
    margin:5rem 0;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}

.left .player-image{
    margin: auto;
    width: fit-content;
    background: var( --blue-radial-gradient);
    padding:15px 50px 0 50px;
    
}
.left .left-image{
    padding:15px 65px 0 65px;
}
.left .player-image .card-image img{
    width: 100%;
    height: 100%;
}
.left .left-image .type{
    background: #003D76;
    width: 100%;
    text-align: center;
    padding:0.2rem 0;
}

.left .left-image .type small{
    font-size:1.6rem;
    color: #fff;
}
.left .player-image .type small{
    font-size: 1.6rem;
}
.right{
    padding: 0 70px 0 0;
}
.right .title{
    display: flex;
    justify-content: space-between;
}

.right .title .player-name h2{
    font-size:2.6rem;
}
.right .title .player-name span{
    font-size:1.6rem;
    font-weight:500;
}

.right .title .add-btn a{
    background:var(--blue-radial-gradient);
    font-size:1.6rem;
    padding:0.7rem 2.5rem;
    border:1px solid #003D76;
    text-decoration:none;
    font-weight: 600;
    color:#fff;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    position: relative;
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -ms-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
}

.right .title .add-btn a:hover{
    background:none;
    color:#333;
    font-weight: 600;
}
.border{
    margin: 2.2rem 0;
    width: 100%;
    height: 0.2rem;
    background:#333;
}
.right .player-info span{
    font-size:1.6rem;
}
.right .player-info span:nth-child(1){
    font-weight:600;
}
.right .player-info .text{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}