<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" routerLink="home">PRATI<span>SPARDHA</span></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="event">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="player-list">PLAYERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">CONTACT</a>
                </li>
            </ul>
            <ul class="navbar-nav right-nav">
                <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="sign-in">SIGNIN</a>
                </li>
                <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="sign-up">SIGNUP</a>
                </li>
                <!-- <li *ngIf="isLoggedIn()" (click)="signout()" class="nav-item">
                    <a class="nav-link" routerLink="sign-out">SIGN OUT</a>
                </li> -->
                <li class="nav-item" *ngIf="isLoggedIn()"  (click)="notify(notification)">
                    <a class="nav-link"> <i class="fa fa-bell" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <!-- <a routerLink="user-profile" class="nav-link"><i class="fa fa-user-circle user-icon"
                    aria-hidden="true"></i></a> -->

                    <div class="dropdown">
                       
                        <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-user-circle user-icon" aria-hidden="true"></i></a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <ul>
                                <li class="nav-item">
                                    <a routerLink="profile" class="dropdown-item">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="dropdown-item">Teams</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="dropdown-item">Tournament history</a>
                                </li>
                                <li *ngIf="isLoggedIn()" (click)="signout()" class="nav-item">
                                    <a class="nav-link" routerLink="sign-out">SIGN OUT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="notification-panel" #notification id="notification">
    <div class="notification-title sticky-top">
        <h2>Notifications</h2>
        <span (click)="clearAll()">Clear all</span>
    </div>
    <div class="notification-view">
        <div class="notification-content" *ngFor="let Notify of noticfication as i">
            <div class="user-image">
                <img src="{{Notify.ownerImage}}" alt="user image" />
            </div>
            <div class="notification-msg">
                <small><span>{{Notify.ownerName}}</span> is requesting to play in <span>{{Notify.eventName}}</span> tournament</small>
                <div class="notification-btn">
                    <a (click)="acceptRequest(Notify)"id="accept">Accept</a>
                    <a id="reject" (click)="reject(Notify._id, i)">Reject</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">primary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    
                </div>
            </div>
        </div>
    </nav> -->