<div class="container form">
  <div class="heading">
      <h2>Registration Form OF Tournament</h2>
      <span class="border"></span>
  </div>

  <div class="registration-form">
      <div class="form-box">
          <div class="title">
            <h2>Tournaments details</h2>
          </div>
          <div class="form-group">
            <input [value]="eventData.tournamentName" type="text" id="tournament_name" class="form-control" placeholder="Tournament Name">
          </div>
          <div class="form-group">
            <input [value]="eventData.tournamentAddress" type="text" id="tournament_venue" class="form-control" placeholder="Tournament Venue">
          </div>
          <div class="form-group">
            <input value="{{eventData.tournamentStartDate|date:'dd-MM-yyyy'}}" type="text" id="tournament_date" class="form-control" placeholder="Tournament Date">
          </div>
          <div class="form-group">
            <input [value]="eventData.tournamentFees" type="text" id="tournament_fess" class="form-control" placeholder="Tournament Entry Fess">
          </div>
          <div class="title">
              <h2>Team details</h2>
          </div>
          <div class="form-group">
              <input [(ngModel)]="teamName" type="text" id="team_name" class="form-control" placeholder="Team Name">
            </div>
            <div class="form-group">
              <input [value]="teamData.name" type="text" id="owner_name" class="form-control" placeholder="Team Owner Name">
            </div>
            <div class="form-group">
              <input [value]="teamData.email" type="text" id="owner_email" class="form-control" placeholder="Owner Email">
            </div>
            <div class="form-group">
              <input [value]="teamData.mobile" type="text" id="owner_no." class="form-control" placeholder="Owner Contact Number">
            </div>
        </div>
        <div class="form-btn">
            <a class="cancel-btn">Cancel</a>
            <a (click)="ragisterForTournament()"class="register-btn">Register</a>
        </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple" style="color: rgb(0, 0, 0); background-color:whitesmoke;">Loading ...</ngx-spinner>


