.players-list{
    padding:50px 0;
}

.search_bar{
    margin-top:80px;
    max-width: 450px;
    /* width: 100%; */
    display: flex;
    position: relative;
}
.search_bar .search{
    padding: 8px 35px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0 3px 3px rgba(132, 132, 132, 0.8);
    /* border-bottom: 3px solid rgb(175, 175, 175); */
    outline: none;
    background: rgba(233, 233, 233, 0.411);
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.search_bar .search-btn{
    background: #003D76;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 25px;
    color: #fff;
    margin-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* .search_bar .fa-search{
    position: absolute;
    right: 15px;
    top: 10px;
} */
.cards{
    margin-top: 30px;
}
.player-card{
    margin-top:50px;
}
.player-card .card{
    width: 100%;
    padding-bottom: 22px;
    border: 0;
    box-shadow: 0 0 10px rgba(75, 75, 75, 0.384);
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}
.player-card .card:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}
.player-card .card .card-img{
    background: radial-gradient(79.51% 79.51% at 42.61% 20.49%, rgba(2, 66, 124, 0.6696) 36.46%, rgba(2, 66, 124, 0.93) 86.48%);
    border-radius: 3px 3px 0 0!important;
    -webkit-border-radius: 3px 3px 0 0!important;
    -moz-border-radius: 3px 3px 0 0!important;
    -ms-border-radius: 3px 3px 0 0!important;
    -o-border-radius: 3px 3px 0 0!important;
    max-height: 200px;
    height: 220px;
    padding-top :8px;
    overflow: hidden;
}
.player-card .card .card-img img{
    width: 100%;
    height: 100%;
}
.player-card .card .player-type{
    background: #003D76;
    text-align: center;
    padding: 3px;
}
.player-card .card .player-type small{
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}
.player-card .card .card-body{
    text-align: center;
    margin: 7px 0 40px 0;
}
.player-card .card .card-body .card-text{
    font-size: 11px;
    font-weight: 500;
    letter-spacing:1px;
}
.player-card .card .card-btn{
    text-align: center;
}
.player-card .card .card-btn .profile{
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    border: 1px solid rgb(0, 140, 234);
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.player-card .card .card-btn .profile::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--blue-radial-gradient);
    z-index: -1;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}
.player-card .card .card-btn .profile:hover{
    color: #fff;
}
.player-card .card .card-btn .profile:hover::before{
    width: 100%;
}

.pagination{
    margin:80px 0; 
}
.pagination pagination-controls{
    font-size:14px;
    font-weight:600;
}