<div class="profile">
    <div class="header">
        <div class="name">
            <h2>{{UserProfile.name}}</h2>
            <span>{{UserProfile.playerType}}</span>
        </div>
        <div class="update-btn">
            <a href="#" class="update">Profile Update</a>
        </div>
    </div>
    <span class="bottom-border"></span>
    <div class="profile-content">
        <div class="text form-group">
            <input [value]="UserProfile.email" type="text" class="form-control" placeholder="Email" [disabled]="isDisabled">
        </div>
        <div class="text form-group">
            <input [value]="UserProfile.mobile" type="text" class="form-control" placeholder="Mobile"  [disabled]="isDisabled">
            <i class="fa fa-pencil" aria-hidden="true" (click)="status(isDisabled)"></i>
        </div>
        <div class="text form-group">
            <input [value]="UserProfile.playerType" type="text" class="form-control" placeholder="PlayerType" [disabled]="isDisabled">
        </div>
        <div class="text form-group">
            <input [value]="UserProfile.age" type="text"  class="form-control" placeholder="Age"  [disabled]="isDisabled">
            <i class="fa fa-pencil" aria-hidden="true" (click)="status(isDisabled)"></i>
        </div>
        <div class="text form-group">
            <input [value]="UserProfile.address" type="text" class="form-control" placeholder="Address" [disabled]="isDisabled">
            <i class="fa fa-pencil" aria-hidden="true" (click)="status(isDisabled)"></i>
        </div>
        <div class="text form-group">
            <input [value]="UserProfile.description" type="text" class="form-control" placeholder="description" [disabled]="isDisabled">
            <i class="fa fa-pencil" aria-hidden="true" (click)="status(isDisabled)"></i>
        </div>
    </div>
</div>
