<div class="container">
    <div class="heading my-5">
        <h2>History</h2>
        <span class="border"></span>
    </div>

    <div class="Closed-Events my-5">
        <div class="title">
            <h2>recently ended events</h2>
            <span class="border-bottom"></span>
        </div>

        <table class="table mt-5">
            <thead>
              <tr class="text-center">
                <th scope="col">S.No</th>
                <th scope="col">Tournament Name</th>
                <th scope="col">Tournament Date</th>
                <th scope="col">Tournament Prize</th>
                <th scope="col">view details</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><i class="fa-solid fa-eye"></i></td>
              </tr>
              <tr class="text-center">
                <th scope="row" >2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><i class="fa-solid fa-eye"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>