<div class="container all-events">
    <div class="heading">
        <h1>All Events</h1>
        <span class="border"></span>
    </div>

    <!-- <div class="row evets">
        
        <div class="title">
            <h2>Live Events</h2>
            <span class="border-bottom"></span>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 event-card" *ngFor="let LiveEvent of Live_event.slice(0,8)">
            <div class="card card-content" >
                <div class="card-img">
                  <img src="{{LiveEvent.banner}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <div class="primary-text">
                    <h3>Event : <span>{{LiveEvent.tournamentName}}</span></h3>
                    <span class="read_more">
                      read more
                    </span>
                  </div>
                </div>
                <div class="overlay-box">
                  <div class="overlay-content">
                    <div class="date">
                      
                      <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                      <span>Start: {{LiveEvent.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{LiveEvent.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="organiser">
                      
                      <h3><i class="fas fa-user-tie"></i> organiser : <span>{{LiveEvent.orgainiserId.name}}</span></h3>
                    </div>
                    <div class="location">
                      
                      <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{LiveEvent.tournamentAddress}}</span></h3>
                    </div>
                  </div>
                  <div class="overlay-btn">
                    <a class="read-more-btn"  (click)="read(LiveEvent._id)">Read More</a>
                    <a class="register-btn" (click)="register(LiveEvent._id)">Register</a>
                  </div>
                </div>
              </div>
        </div>
        
    </div> -->


    <!-- Upcomming Events -->
    <div class="title">
      <h2>Upcomming Events</h2>
      <span class="border-bottom"></span>
    </div>
    <div class="row evets">

        <div class="col-sm-6 col-md-6 col-lg-3 event-card" *ngFor="let upcomming_event of upcomming_event">
            <div class="card card-content" >
                <div class="card-img">
                  <img src="{{upcomming_event.banner}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <div class="primary-text">
                    <h3>Event : <span>{{upcomming_event.tournamentName}}</span></h3>
                    <span class="read_more">
                      read more
                    </span>
                  </div>
                </div>
                <div class="overlay-box">
                  <div class="overlay-content">
                    <div class="date">
                      
                      <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                      <span>Start: {{upcomming_event.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{upcomming_event.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="organiser">
                      
                      <h3><i class="fas fa-user-tie"></i> organiser : <span>{{upcomming_event.orgainiserId.name}}</span></h3>
                    </div>
                    <div class="location">
                      
                      <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{upcomming_event.tournamentAddress}}</span></h3>
                    </div>
                  </div>
                  <div class="overlay-btn">
                    <a class="read-more-btn"  (click)="read(upcomming_event._id)">Read More</a>
                    <a class="register-btn" (click)="register(upcomming_event)">Register</a>
                  </div>
                </div>
              </div>
        </div>
        <!-- <div class="d-flex justify-content-center pagination">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onCardDataChange($event)">
          </pagination-controls>
        </div> -->
    </div>
   


    <!-- End Events -->
    <div class="title">
        <h2>End Events</h2>
        <span class="border-bottom"></span>
    </div>

    <div class="row evets">
        
        <div class="col-sm-6 col-md-6 col-lg-3 event-card" *ngFor="let end_event of end_event">
            <div class="card card-content" >
                <div class="card-img">
                  <img src="{{end_event.banner}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <div class="primary-text">
                    <h3>Event : <span>{{end_event.tournamentName}}</span></h3>
                    <span class="read_more">
                      read more
                    </span>
                  </div>
                </div>
                <div class="overlay-box">
                  <div class="overlay-content">
                    <div class="date">
                      
                      <h3><i class="fa fa-calendar" aria-hidden="true"></i> Registration date</h3>
                      <span>Start: {{end_event.tournamentApplyDate | date:'dd-MM-yyyy'}} | End: {{end_event.tournamentEndDate | date:'dd-MM-yyyy'}}</span>
                    </div>
                    <div class="organiser">
                      
                      <h3><i class="fas fa-user-tie"></i> Organiser : <span>{{end_event.orgainiserId.name}}</span></h3>
                    </div>
                    <div class="location">
                      
                      <h3> <i class="fa fa-location-arrow" aria-hidden="true"></i> Venue : <span>{{end_event.tournamentAddress}}</span></h3>
                    </div>
                  </div>
                  <div class="overlay-btn">
                    <a class="read-more-btn"  (click)="read(end_event._id)">Read More</a>
                    <a class="register-btn" (click)="register(end_event)">Register</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
</div>

<ngx-spinner type="ball-scale-multiple" style="color: rgb(0, 0, 0); background-color:whitesmoke;">Loading ...</ngx-spinner>