.all-events{
    padding: 50px 0;
}
.evets{
    padding: 15px 0 30px 0;
    /* margin: 20px 0 0 0 ; */
    position: relative;
}
.title{
    margin:100px 0 30px 0;
    width: fit-content;
    position: relative;
}
.title .border-bottom{
    position:absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(49, 49, 49);
}
.event-card{
    margin: 20px 0 0 0;
}
.event-card .card-content{
    padding:0 0 15px 0;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    
}
.event-card .card-content .card-img{
    height:200px;
    width: 100%;
}
.event-card .card-content img{
    width:100%;
    height:100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.event-card .card-content .primary-text{
    /* padding: 0 10px ; */
    margin-top: 20px;
}
.event-card .card-content .primary-text h3{
    margin-bottom: 17px;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(39, 102, 151);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.event-card .card-content .primary-text span{
    font-size: 15px;
    font-weight:600;
    color: rgb(42, 42, 42);
    
}
.event-card .card-content .primary-text .read_more{
    background:var(--blue-radial-gradient);
    padding: 3px 8px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}

.event-card .card-content .overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, #175590 0%, #00305A 100%);
    width: 100%;
    height: 100%;
    padding: 25px 15px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: ease-in-out 0.3s;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}
.event-card .card-content:hover .overlay-box {
    opacity: 1;
}


.event-card .card-content .overlay-box .overlay-content h3{
    margin-bottom:10px;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.event-card .card-content .overlay-box .overlay-content .date span{
    overflow: hidden;
    margin-left: 35px;
}

.event-card .card-content .overlay-box .overlay-content .date h3 i,.event-card .card-content .overlay-box .overlay-content .organiser h3 i,.event-card .card-content .overlay-box .overlay-content .location h3 i{
    font-size: 17px;
    margin-right: 12px;
}
.event-card .card-content .overlay-box .overlay-content .date span, .event-card .card-content .overlay-box .overlay-content .organiser  span, .event-card .card-content .overlay-box .overlay-content .location span{
    font-weight: 400;
    font-size: 13px;
}
.event-card .card-content .overlay-box .overlay-content .organiser{
    margin: 40px 0;
}
.event-card .card-content .overlay-box .overlay-btn{
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.event-card .card-content .overlay-box .overlay-btn a{
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 5px 14px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.event-card .card-content .overlay-box .overlay-btn a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    z-index: -1;
}
.event-card .card-content .overlay-box .overlay-btn a:hover{
    color: #333;
}
.event-card .card-content .overlay-box .overlay-btn a:hover::before{
    width: 100%;
}